.main-goals-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
    width: 75%;
    height: 300px;
    margin: 0px auto;
    list-style: none;
    overflow-x: scroll;

    &__item {
        display: grid;
        gap: 4%;
        width: 250px;
        height: 250px;
        padding: 20px;
        border-radius: 12px;
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: bold;
        background-color: #43314c;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: min-content;
            width: 100%;
        }

        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            height: 80%;
            max-width: 200px;
            overflow: hidden;
        }

        &__link {
            width: max-content;
            height: max-content;
            padding: 6px 12px;
            border-radius: 9999px;
            color: #000000;
            text-decoration: none;
            background-color: #ffffff;
        }
    }
}