@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.create-task-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    background-color: $bg-color;
}

.create-task-container__title {
    margin: 20px 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.create-task-container__form {
    display: grid;
    justify-content: center;

    .labels-container {
        display: flex;
        gap: 6px;
        height: min-content;
        width: min-content;
        padding-bottom: 4px;
        margin: 12px 0px;
        list-style: none;
    }
}

.create-task-container__form__generic-input {
    @include generic-input(6px, 12px 0px);
}

.labels-container__radio-labels {
    position: relative;


    .labels-container__radio-labels__radio-color {
        display: grid;
        width: 30px;
        height: 30px;
        padding: 4px;
        cursor: pointer;
        border-radius: 9999px;
        border: 2px solid transparent;
        background-color: lightgray;

        span {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 9999px;
        }
    }
    .labels-container__radio-labels__radio-input {
        visibility: hidden;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}

.radio-selected {
    border: 2px solid dodgerblue !important;
}

.radio-error {
    box-shadow: 0px 4px 2px -2px red;
}