@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.create-goal-container {
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    background-color: $bg-color;

}
.create-goal-container__title {
    margin: 20px 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.create-goal-container__form {
    display: grid;
    justify-content: center;
    margin-bottom: 10px;

    label { display: contents; }

    .create-goal-container__form__input {
        @include generic-input(6px, 12px 0px);
    }

    .create-goal-container__form__tips {
        font-size: 1.4rem;
        font-style: italic;
        color: gray;
    }
}