@import '../../styles/_variables.scss';

.create-goal-container {
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    background-color: $bg-color;

}
.create-goal-container__title {
    margin: 20px 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.create-goal-container__form {
    display: grid;
    margin-bottom: 10px;

    label { display: contents; }

    .create-goal-container__form__input {
        padding: 6px;
        margin: 6px 0px;
        border: 2px solid gray;
        border-radius: 16px;
        resize: none;
    }

    .create-goal-container__form__tips {
        font-size: 1.4rem;
        font-style: italic;
        color: gray;
    }
}

.create-goal-container__form__input--error {
    border: 2px solid #f01a1a !important;
}